.content-wrapper {
  margin-left: 50px;
  transition: all 0.2s ease-out;
}
.content-fluid {
  margin-left: 225px;
  transition: all 0.2s ease-out;
}
.page_loading {
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  background-color: #111b33;
  color: #f4f4f4;
}
.page_loading .spinner-border {
  z-index: 999;
  position: relative;
}
.form-control {
  border: 1px solid #abf5a3;
  min-height: 50px;
}
.MuiFormControl-root {
  border: 1px solid #abf5a3 !important;
  flex-direction: unset !important;
}
.MuiInput-underline:after,
.MuiInput-underline:before {
  border: none !important;
  content: unset !important;
}
