body {
  font-family: "Roboto", sans-serif;
  background-color: #f6f7fa;
  color: #111b33;
}
.title-text {
  color: #00a14b;
  font-size: 1.6rem;
  font-weight: 700;
}
.sidenav---sidenav---_2tBP {
  background-color: #111b33 !important;
  top: 70px;
  position: fixed;
}
.sidenav---navitem---9uL5T {
  font-size: 1rem !important;
}
.top-nav {
  background-color: #111b33 !important;
  color: #f9f9f9;
}
.sidenav---navicon---3gCRo {
  opacity: 1 !important;
}
.err-msg {
  font-size: 12px;
  color: red;
}
.task-form label {
  font-size: 14px;
  color: #eb9b20;
}
.task-text {
  max-width: 250px;
  font-size: 14px;
}
.time-input label,
.break-label {
  color: #eb9b20;
}
.time-input input {
  font-size: 2rem;
  font-weight: 600;
}
.time-input .form-control:disabled {
  background-color: rgba(235, 153, 30, 0.05);
  border: 1px solid rgba(235, 153, 30, 0.5);
}
.check-in:disabled {
  cursor: not-allowed;
}
.break-time {
  font-size: 2rem;
  font-weight: 600;
}
.break-time-label {
  font-size: 1rem;
}
.attendance-notes {
  max-width: 250px;
  font-size: 14px;
}
.break-logs li:empty {
  display: none;
}
button:disabled {
  cursor: not-allowed;
}
.table td,
.table th {
  vertical-align: middle;
}
